{% extends 'Home/base.html' %}

{% load static %}

{% block content %}


    <form class="RegistrarUsuariaForm" action="" method="POST">
        <div>
            <h1>Registro de Usuarias</h1>
        </div>
        {% csrf_token %}
        <div class="form_clientas">
            <div>
                <label for="correo">Correo</label>
                <br>
                <input type="text" name="correo"  class="form-control" style="width: 280px;">
            </div>
            <div>
                <label for="pwd">Contraseña</label>
                <br>
                <input type="text" name="pwd"  class="form-control" style="width: 280px;">
            </div>
            <div>
                <label for="nombre">Nombre</label>
                <br>
                <input type="text" name="nombre"  class="form-control" style="width: 280px;">
            </div>
            <div>
                <label for="apellido">Apellido</label>
                <br>
                <input type="text" name="apellido" class="form-control" style="width: 280px;">
            </div>
            <div>
                <label for="tipo_perfil">Tipo de perfil</label>
                <br>
                <select class="form-select" name="tipo_perfil" id="tipo_perfil"aria-label="Default select example">
                    <option value="1">Administradora</option>
                    <option value="2">Encargada de cocina</option>
                    <option value="3">Asistenta de cocina</option>
                    <option value="4">Encargada de logística</option>
                </select>    
                <br>
                <button class="btn btn-dark">Guardar contacto</button>
            </div>
        </div>

    </form>
{% endblock %}