{% extends 'Home/base.html' %}

    {% load static %}

{% block content %}

    <div class="usuaria">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'Home/img/lista.png' %}" class="card-img-top" alt="...">

            <a class="btn" href="{% url 'listar'%}">Lista de usuarias</a>

        </div>
        
        <div class="card" style="width: 18rem;">
            <img src="{% static 'Home/img/registro.png' %}" class="card-img-top" alt="...">
            <a href="{% url 'registro'%}" class="btn">Registrar usuarias</a>
        </div>

    </div>
{% endblock %}