{% extends "plantilla.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<script>
    function mostrarAlerta(alerta, formulario) {
        var alerta = document.getElementById(alerta);
        alerta.style.display = 'block';

        setTimeout(function() {
            alerta.style.display = 'none';
            document.getElementById(formulario).submit();
        }, 1000);
    }
</script>

<section class="container-fluid">
    <div>
        <!-- <h1 class="w-100" style="text-align: center; margin-top: 40px;">Agregar ficha técnica</h1> -->
    </div>
</section>

<div class="row row-cols-3">
    <!-- Agregar ficha técnica -->
    <div class="col mb-4">
        <div class="container-fluid" style="margin-top: 30px;">
            <div class="row align-items-start">
                <div class="col">
                    <div class="container-fluid">
                        <h2>1. Ficha técnica</h2>
    
                        <div style="margin-top: 20px; width: 350px;">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form | crispy }}
                                <div class="modal-footer">
                                    <a href="{% url 'ft' %}" class="btn btn-danger">Volver</a>
                                    <button type="submit" class="btn btn-success">Guardar</button>
                                </div>
                                
                            </form> 
                        </div>                     
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Agregar ingredientes -->
    <div class="col mb-4">
        <div class="container-fluid" style="margin-top: 30px;">
            <div class="row align-items-start">
                <div class="col">
                    <div class="container-fluid">
                        <h2>2. Ingredientes</h2>
    
                        <div style="margin-top: 20px; width: 350px;">
                            
                            <form id="registroForm1" method="post" action="{% url 'registrarIngrediente' %}" style="margin-top: 20px;">
                                {% csrf_token %}
                                <div class="form-group mb-3" style="max-height: 200px;">
                                  <select name="ft_cod_ft" class="form-control" required data-reset="true" style="width: 350px;">
                                    <option selected disabled>Seleccionar ficha técnica</option>
                                    {% for f in ft %}
                                        <option value="{{f.cod_ft}}">{{f.nom_ft}}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                                <div class="form-group mb-3" style="max-height: 200px;">
                                    <select name="item_cod_item" class="form-control" required data-reset="true" style="width: 350px;">
                                      <option selected disabled>Seleccionar ítem</option>
                                      {% for i in item %}
                                          <option value="{{i.cod_item}}">{{i.nom_item}}</option>
                                      {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <input type="number" name="cantidad" class="form-control" required placeholder="Cantidad" style="width: 350px;">
                                </div>
                 
                                <div class="modal-footer" style="margin-top: 40px; width: 350px;">
                                    <a href="{% url 'ft' %}" class="btn btn-danger">Volver</a>
                                    <!-- <button type="submit" class="btn btn-success">Registrar</button> -->
                                    <button type="button" class="btn btn-success" onclick="mostrarAlerta('alerta1','registroForm1')">Registrar</button>

                                </div>
                              </form>  

                              <div id="alerta1" class="alert alert-success" role="alert" style="display: none;">
                                Ingrediente registrado
                              </div>
                            
                        </div>                     
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Agregar preparación -->
    <div class="col mb-4">
        <div class="container-fluid" style="margin-top: 30px;">
            <div class="row align-items-start">
                <div class="col">
                    <div class="container-fluid">
                        <h2>3. Preparación</h2>
    
                        <div style="margin-top: 20px; width: 350px;">

                            <form id="registroForm2" method="post" action="{% url 'registrarPreparacion' %}" style="margin-top: 20px;">
                                {% csrf_token %}
                                <div class="form-group mb-3" style="max-height: 200px;">
                                  <select name="ft_cod_ft" class="form-control" required data-reset="true" style="width: 350px;">
                                    <option selected disabled>Seleccionar ficha técnica</option>
                                    {% for f in ft %}
                                        <option value="{{f.cod_ft}}">{{f.nom_ft}}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                                <div class="mb-3">
                                    <textarea name="instruccion" class="form-control" placeholder="Instrucción" style="width: 350px;" rows="3"></textarea>
                                </div>  
                 
                                <div class="modal-footer" style="margin-top: 40px; width: 350px;">
                                    <a href="{% url 'ft' %}" class="btn btn-danger">Volver</a>
                                    <!-- <button type="submit" class="btn btn-success">Registrar</button> -->
                                    <button type="button" class="btn btn-success" onclick="mostrarAlerta('alerta2','registroForm2')">Registrar</button>

                                </div>
                              </form>  

                              <div id="alerta2" class="alert alert-success" role="alert" style="display: none;">
                                Paso para preparación registrado
                              </div>

                        </div>                     
    
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}