<!-- The Modal -->
<div class="modal" id="eliminarArticulo{{a.cod_art}}">
    <div class="modal-dialog">
    <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
        <h4 class="modal-title">Eliminar artículo</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
        ¿Segura de que deseas eliminar un artículo?
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <a href="/eliminarArticulo/{{a.cod_art}}">
            <button type="button" class="btn btn-success">Eliminar</button>
        </a>
        </div>

    </div>
    </div>
</div>
