{% extends 'Home/base.html' %}

    {% load static %}

{% block content %}
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Rut</th>
                <th scope="col">Tipo Clienta</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Nombre Fantasia</th>
                <th scope="col">Representante Legal</th>
                <th scope="col">Correo</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Dirección</th>
                <th scope="col">Número</th>
                <th scope="col">Complemento</th>
                <th scope="col">Comuna</th>
                <th scope="col">Pais</th>
                <th scope="col">Giro</th>
                <th scope="col">Modificar</th>
                <th scope="col">Eliminar</th>
                
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">{{context.cod_clienta}}</th>
                <td>{{context.rut_clienta}}</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td><button type="button" class="w-25 h-25"><img src="{% static 'Home/img/modificar.png'%}"></button></td>
                <td><button type="button" class="w-25 h-25"><img src="{% static 'Home/img/eliminar.png'%}"></button></td>
                </tr>
            </tbody>
    </table>

{% endblock %}