{% extends 'Home/base.html' %}

    {% load static %}

{% block content %}

<section class="container-fluid">
    <div>
        <h1 class="w-100" style="text-align: center; margin-top: 40px;">Lista de Clientas</h1>
    </div>
</section>

<section class="container-fluid" style=" background-color:#c9ac6fab;">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Buscar Clienta" aria-label="Search">
                            <button class="btn btn-success" type="submit">Buscar</button>
                        </form></th>
                    <th>
                        <a href="{% url 'registro' %}">
                            <button type="button" class="btn btn-success"><i class="fa-solid fa-square-plus"></i></button>
                        </a>
                    </th>
                </tr>
                <tr>
                    <th class="centered">Rut</th>
                    <th class="centered">Tipo Clienta</th>
                    <th class="centered">Nombre</th>
                    <th class="centered">Apellido</th>
                    <th class="centered">Nombre Fantasia</th>
                    <th class="centered">Correo</th>
                    <th class="centered">Teléfono</th>
                    <th class="centered">Opciones</th>
                </tr>
            </thead>                
            <tbody class="table-group-divider">
                {% for c in clienta %}
                <tr>
                    <td class="centered" colspan="1">{{c.rut_clienta}}-{{c.dv_clienta}}</td>
                    {% if c.tipo_clienta == 1 %}
                        <td class="centered">Natural</td>
                    {% elif c.tipo_clienta == 2 %}
                        <td class="centered">Juridica</td>
                    {% endif %}
                    <td class="centered">{{c.nombre}}</td>
                    <td class="centered">{{c.apellido}}</td>
                    <td class="centered">{{c.nom_fantasia}}</td>
                    <td class="centered">{{c.correo}}</td>
                    <td class="centered">{{c.tel}}</td>
                    <td colspan="1">
                        <button type="button" name="{{c.cod_clienta}}"class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#otrosDatos{{c.cod_clienta}}"><i class="fa-solid fa-eye"></i></button>
                        {% include 'Clientas/otrosDatos.html' %}
                    </td>
                    <td colspan="1">
                        <button type="button" name="{{c.cod_clienta}}" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editarClienta{{c.cod_clienta}}"><i class="fa-solid fa-pen-to-square"></i></button>
                            {% include 'Clientas/editarclienta.html' %}
                    </td>
                    <td colspan="1">
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminarArticulo{{a.cod_art}}"><i class="fa-solid fa-trash-can"><a href="#"></a></i></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
                
        </table>
    </div>
</section>
{% endblock %}
