{% extends 'Home/base.html' %}
    {% load static %}

    {% block content %}

        <div class="centered">
            <h1>Registro de Clientas</h1>
        </div>

        <div>
            <form method="POST" class="form_clientas">
                {% csrf_token %}

                <div class="form_1">
                    <div>
                        <label  for="rut_clienta">RUT clienta</label>
                        <br>
                        <input class="form-control" type="number" id="rut_clienta" name="rut_clienta" required />
                    </div>
                    <div>
                        <label  for="dv_clienta">DV</label>
                        <br>
                        <input class="form-control" type="text" id="dv_clienta" name="dv_clienta" maxlength="1"  style="width: 40px;" required />
                    </div>
                    <div>
                        <label for="tipo_clienta">Tipo clienta:</label>
                        <br>
                        <select class="form-control" id="tipo_clienta" name="tipo_clienta" required>
                            <option value="" disabled selected>Seleccionar</option>
                            <option value="1">Persona natural</option>
                            <option value="2">Persona jurídica</option>
                        </select>
                    </div>
                    <div>
                        <label  for="nombre">Nombre</label>
                        <br>
                        <input class="form-control" type="text" id="nombre" name="nombre" maxlength="100" required />
                    </div>
                    <div>
                        <label  for="apellido">Apellido</label>
                        <br>
                        <input class="form-control" type="text" id="apellido" name="apellido" maxlength="100" />
                    </div>
                </div>
                <div class="form_1">
                    <div>
                        <label for="nom_fantasia">Nombre de fantasía</label>
                        <br>
                        <input class="form-control" type="text" id="nom_fantasia" name="nom_fantasia" maxlength="100" />
                    </div>
                    <div>
                        <label  for="rep_legal_cod_rep_legal">Representante legal</label>
                        <br>
                        <select class="form-control" id="rep_legal_cod_rep_legal" name="rep_legal_cod_rep_legal">
                            <option value="" disabled selected>Seleccionar</option>
                            {% for r in rep_legal %}
                            <option value="{{ r.cod_rep_legal }}">
                                {{ r.nombre }} {{ r.apellido }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label  for="correo">Correo</label>
                        <br>
                        <input class="form-control" type="email" id="correo" name="correo" maxlength="100" required />
                    </div>
                    <div>
                        <label  for="tel">Teléfono</label>
                        <br>
                        <input class="form-control" type="number" id="tel" name="tel" required />
                    </div>
                </div>
                <div class="form_1">
                    <div>
                        <label for="calle">Calle</label>
                        <br>
                        <input class="form-control" type="text" id="calle" name="calle" maxlength="200" required />
                    </div>
                    <div>
                        <label  for="numero">Número</label>
                        <br>
                        <input class="form-control" type="number" id="numero" name="numero" required />
                    </div>
                    <div>
                        <label  for="complemento">Complemento</label>
                        <br>
                        <input class="form-control" type="text" id="complemento" name="complemento" maxlength="10" />
                    </div>
                </div>
                <div class="form_1">
                    <div>
                        <label for="pais_cod_pais">Código país</label>
                        <br>
                        <select class="form-control" id="pais_cod_pais" name="pais_cod_pais" required>
                            <option value="" disabled selected>Seleccionar</option>
                            {% for p in paises %}
                            <option value="{{ p.cod_pais }}">{{ p.pais }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="comuna_cod_comuna">Código comuna:</label>
                        <br>
                        <select class="form-control" id="comuna_cod_comuna" name="comuna_cod_comuna" required>
                            <option value="" disabled selected>Seleccionar</option>
                            {% for c in comunas %}
                            <option value="{{ c.cod_comuna }}">{{ c.comuna }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>           
                        <label for="giro">Giro</label>
                        <br>
                        <input class="form-control" type="text" id="giro" name="giro" maxlength="200" />
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary" value="">Guardar Clienta</button>
                </div>
            </form>
        </div>

        <div>
            <button type="button" name="" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#rep_legal">
                Agregar Representante
            </button>
            {% include 'Clientas/rep_leg.html' %}
        </div>

{% endblock %}