{% extends 'Home/base.html' %}

    {% load static %}

    {% block content %}


        <form class="form_clientas" action="" method="POST">
            <div>
                <h1>Registro de Clientas</h1>
            </div>
            {% csrf_token %}
            <div class="form_1">
                <div>
                    <label for="rut">Rut</label>
                    <br>
                    <input type="text" class="form-control" name="RUT" style="width: 100px;">
                </div>
                <div>
                    <label for="dv">Dv</label>
                    <br>
                    <input type="text" name="DV" class="form-control" style="width: 40px;">
                </div>
                <div>
                    <label for="nombre">Nombre</label>
                    <br>
                    <input type="text" name="nombre"  class="form-control" style="width: 280px;">
                </div>
                <div>
                    <label for="apellido">Apellido</label>
                    <br>
                    <input type="text" name="apellido" class="form-control" style="width: 280px;">
                </div>
                <div>
                    <label for="rut">Tipo de Clienta</label>
                    <br>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Seleccione opción</option>
                        <option value="1">01</option>
                        <option value="2">02</option>
                    </select>    
                </div>
            </div>

            <div class="form_1">
                <div>
                    <label for="nombre_fantasia">Nombre de Fantasia</label>
                    <br>
                    <input type="text" name="nombre_fantasia" class="form-control" style="width: 300px;">
                </div>
                <div>
                    <label for="representante">Representante Legal</label>
                    <br>
                    <input type="checkbox" class="form-check-label w-50 " name="representante" >
                </div>
                <div>
                    <label for="email">Correo</label>
                    <br>
                    <input type="email" name="DV"  class="form-control" style="width: 300px;">
                </div>
                <div>
                    <label for="telefono">Teléfono</label>
                    <br>
                    <input type="text" name="telefono" class="form-control" style="width: 100px;">
                </div>
            </div>

            <div class="form_1">
                <div>
                    <label for="exampleDataList" class="form-label">País</label>
                    <select class="form-select" aria-label="Default select example">
                        {% for p in pais %}
                        <option selected> {{ p }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="exampleDataList" class="form-label">Región</label>
                    <select class="form-select" aria-label="Default select example">
                        {% for r in regiones %}
                        <option selected> {{ r }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="exampleDataList" class="form-label">Comuna</label>
                    <select class="form-select" aria-label="Default select example">
                        {% for c in comuna %}
                        <option selected> {{ c }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form_1">
                <div>
                    <label for="direccion">Dirección</label>
                    <br>
                    <input type="text" name="direccion" class="form-control" style="width: 300px;">
                </div>
                <div>
                    <label for="numero">Número</label>
                    <br>
                    <input type="text" name="numero" class="form-control" style="width: 100px;">
                </div>
                <div>
                    <label for="Complemento">Complemento</label>
                    <br>
                    <input type="text" name="Complemento" class="form-control" style="width: 100px;">
                </div>
                <div>
                    <label for="giro">Giro</label>
                    <br>
                    <input type="text" name="giro"  class="form-control" style="width: 100px;">
                </div>
            </div>
            <button class="btn btn-dark">Guardar contacto</button>
        </form>

    {% endblock %}